@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: #333333;
}

.navigation-link, .footer-phone, .breadcrumbs-link, .hotel-card-link, .pagination-link {
    color:inherit;
    text-decoration: inherit;
}

.list {
    list-style-type: none;
}

.main-caption {
    text-transform: uppercase;
}

.brown-button {
    background-color: #756257;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
}

.blue-button {
    background-color: #83B3D3;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
}

.page-header {
    color: #000000;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;    
}

.rightpanel-button {
    font-size: 16px;
    line-height: 21px;
}

.general-section {
    background-image: url("../img/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.black-header {
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.general-section-reasons {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}

.advantages-section {
    text-align: center;
}

.advantage-description {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.advantage-blue-pile {
    background-color: #83B3D3;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.advantage-white-header {
    text-transform: uppercase;
    font-weight: 700;
}

.advantage-navyblue-pile {
    background-color: #83B3D31F;
}

.advantage-darkernavyblue-pile {
    background-color: #83B3D333;
}

.advantage-label {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
}

.light-row {
    background-color: #83B3D31F;
}

.advantage-white-pile {
    background-color: #FFFFFF;
}

.advantage-header {
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.invitation-section {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
}

.invitation-description {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.subscription {
    background-image: url("../img/subscription-background.jpg");
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    width: 1200px;
    height: 411px;
    background-position: center;
}

.subscription-description {
    font-size: 22px;
    line-height: 26px;
    text-transform: none;
}

.subscription-form {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.subscription-apply-button {
    background-color: #83B3D3;
}

.footer-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
}

.visually-hidden {
    display: none;
}

.search-icon {
    background-image: url("../img/search.svg");
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}

.favourites-icon {
    background-image: url("../img/favourites.svg");
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}

.house-icon {
    background-image: url("../img/house.svg");
    width: 75px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: center;
}

.burger-icon {
    background-image: url("../img/burger.svg");
    width: 74px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.gift-icon {
    background-image: url("../img/gift.svg");
    width: 64px;
    height: 76px;
    background-repeat: no-repeat;
    background-position: center;
}

.twitter-logo {
    background-image: url("../img/twitter.svg");
    width: 18px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.facebook-logo {
    background-image: url("../img/facebook.svg");
    width: 10px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.youtube-logo {
    background-image: url("../img/youtube.svg");
    width: 20px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.academy-logo {
    background-image: url("../img/academy-logo.svg");
    width: 115px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center;
}

.inner-header {
    background-image: url("../img/catalog-background1.jpg");
    width: 1200px;
    height: 408px;
    background-repeat: no-repeat;
    background-position: center;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    font-weight: 700;
}

.home-icon {
    background-image: url("../img/variant-home.svg");
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: 400;
}

.filterlist-group {
    border: none;
    color: #FFFFFF;
}

.filterlist-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;    
}

.control-label {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400; 
}

.transparent-button {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    border: none;
}

.search-amount-found {
    color: #000000;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700; 
    text-transform: uppercase;
}

.select-control {
    color: #333333;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400; 
}

.tile-look {
    background-image: url("../img/mode-tile1.svg");
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center; 
}

.slideshow-look {
    background-image: url("../img/mode-slideshow1.svg");
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center; 
}

.list-look {
    background-image: url("../img/mode-list1.svg");
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center; 
}

.hotel-card-title {
    color: #000000;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700; 
}

.hotel-card-type {
    color: #000000;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400; 
}

.hotel-card-price {
    color: #000000;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400; 
}

.hotel-card-button-more {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700; 
    text-transform: uppercase;
}

.hotel-card-button-favourites {
    background-color: #83B3D3;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700; 
    text-transform: uppercase;
}

.hotel-card-rating {
    color: #000000;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400; 
    text-transform: uppercase;
}

.button-show-more {
    background-color: #83B3D3;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700; 
    text-transform: uppercase;
}

.pagination-link {
    background-color: #83B3D3;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700; 
    text-transform: uppercase;
}

.pagination-current {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700; 
    text-transform: uppercase;
}

.pagination-results {
    color: #000000;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400; 
}

.pagination-results-value {
    color: #000000;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400; 
}

.catalog-subscription .subscription {
    color: #000000;
    background-image: none;
}

